img{
    width: 200px;
    height: 100px;
}
h1{
    color: rgba(240, 228, 68, 0.863)
}
.entry {
   margin-left: 3rem;
}
.kitchen {
    margin-right: 3rem;
}
.CASA {
    width: 400px;
    margin-left: 470px;
    border: solid; color: rgba(250, 250, 249, 0.863);
}
h1{
    text-align: center;
}
button{
  margin-left: 617px;
    width: 100px;
    height: 30px;
}
a{
margin-left: 628px;
color: blue;
}
p1{
    color: rgba(240, 228, 68, 0.863)
}
.contact_us{
    text-align: center;
    color: black;
}
.top{
    text-align: center;
    margin-bottom: 25px;
}